@model OnlineApp.Models.Category

@{
    ViewBag.Title = "Add_Category";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 style="text-align:center;background-color:dimgrey">Add Category</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cat_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div style="overflow:scroll">
   <table class="table table-responsive">
       <thead>
           <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Kode Name</th>
               <th>View All Question</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var item in ViewData["list"] as List<OnlineApp.Models.Category>)
            {
               <tr>
                   <td>@item.cat_id</td>
                   <td>@item.cat_name</td>
                   <td>@item.cat_encrypted_string</td>
                   <td><a class="btn btn-info btn-sm" href="@Url.Action("ViewAllQuestion", new {id = @item.cat_id})">View Question of this Exam</a></td>
               </tr>
            }
       </tbody>
   </table>
</div>
